@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

* {
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: dimgrey;
    color: floralwhite;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-weight: 300;
}

/*Featured Museums Color #255763 #023e58 */

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    height: 375px;
    max-width: 800px;
    margin: 20px auto;
    color: black;
    /*display: inline;*/
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.controls:focus {
    border-color: #4d90fe;
}

footer {
    text-align: center;
}

ul {
    list-style-type: none;
}

.js-search-results {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#results-str {
    font-size: 22px;
    line-height: 30px;
}

/*
.thumbnail-div {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 15px auto;
}

.thumbnail-img {
    display: inline-block;
    position: relative;
    height: 138px;
    margin-right: 16px;
}
*/

.video-title {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

#featured-museums {
    border-top: 3px solid floralwhite;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 15px;
}

.featured-wrapper {
    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
*/
    width: 100%;
}

.row-one,
.row-two {

    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
*/
    width: 100%;
}

.featured-div {
    /* Two values: flex-grow | flex-basis */
    color: floralwhite;
    background-color: #023e58;
    flex: 1 30px;
    margin: 5px;
    display: inline-block;
    width: 30%;
}

.feat-grey {
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

/*
.text-container {
    position: relative;
    background: rgba(0, 0, 0, 0) url("../images/met.jpg") no-repeat center center fixed;
    background-size: cover;
}
*/

.img-div {
    width: 100%;
    height: 135px;
}

.one .img-div {
    background: rgba(0, 0, 0, 0) url("../images/met.jpg") no-repeat center center;
    background-size: cover;
}

.two .img-div {
    background: rgba(0, 0, 0, 0) url("../images/field-museum.jpg") no-repeat center center;
    background-size: cover;
}

.three .img-div {
    background: rgba(0, 0, 0, 0) url("../images/met.jpg") no-repeat center center;
    background-size: cover;
}

.featured-img {
    width: 100%;
    /*    position: absolute;*/
    /*    bottom: 0;*/
}

h4,
p {
    margin: auto 0;
    padding: 1rem;
    display: block;
    text-align: center;
}

#featured-museums p,
h4 {
    /*    position: absolute;*/
}

h4 {
    top: 0;
}

footer {
    margin-top: 2rem;
}

#museum-info-page {
    float: right;
    top: 0;
    right: 0;
}

#left-column {}

#right-column {}

/*/////////////Above this line, desktop styles. Below this line, mobile styles.///////////////*/

/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: blue;
    }
    #map {
        width: 800px;
    }
}

/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
    #map {
        width: 95%;
    }
}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
    .row-one,
    .row-two {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    .img-div {
        height: 250px;
        /*        width: 95%*/
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}

/* Optional: Makes the sample page fill the window. */

/*      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/
